@model BankOfSimba.ViewModels.AnimalViewModel


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank of Simba</title>
</head>
<body>
    <table style="width:20%">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Balance</th>
            <th>AnimalType</th>
            <th>Owner</th>
        </tr>
        @foreach (var animals in @Model.AnimalList)
            {
            <tr>
                <td>@Model.AnimalList.IndexOf(animals)</td>
                <td>@animals.Name</td>
                <td>@animals.Balance</td>
                <td>@animals.AnimalType</td>
                <td style="color:red">@animals.Owner</td>
            </tr>
                    }

</body>
</html>
