@model WareHouse.ViewModels.ClothesViewModel


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>CatWalk</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>GreenFox Fashion Web Store</h1>
    <form action="/warehouse/summary" method="post">
        <select name="name">
            <option>Select item name</option>
            @{foreach (var name in Model.ItemNames)
                {
                    <option value="@name">@name</option>
                }
            }
        </select>
        <select name="size">
            <option>Select size</option>
            @{foreach (var size in Model.Sizes)
                {
                    <option value="@size">@size</option>
                }
            }
        </select>
        <input type="number" name="quantity" value="" />
        <button type="submit">GET TOTAL</button>
    </form>
    <table>
        <thead>
            <tr>                
                    <td><b>ItemName</b></td>
                    <td><b>Manufacturer</b></td>
                    <td><b>Category</b></td>
                    <td><b>Size</b></td>
                    <td><b>UnitPrice</b></td>                
            </tr>
        </thead>
        <tbody>
            @{foreach (var item in Model.Clothes)
            {
                    <tr>
                        <td>@item.ItemName</td>
                        <td>@item.Manufacturer</td>
                        <td>@item.Category</td>
                        <td>@item.Size</td>
                        <td>@item.UnitPrice</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>