@model WareHouse.Models.Summary

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Warehouse</title>
</head>
<body>
    <h1>GreenFox Fashion Web Store</h1>
    <h2>Summary</h2>
    <table>
        <thead>
            <tr>
                <td><b>Item Name</b></td>
                <td><b>Manufacturer</b></td>
                <td><b>Category</b></td>
                <td><b>Size</b></td>
                <td><b>Quantity</b></td>
                <td><b>Total Price</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ItemName</td>
                <td>@Model.Manufacturer</td>
                <td>@Model.Category</td>
                <td>@Model.Size</td>
                <td>@Model.Quantity</td>
                <td>@Model.TotalPrice</td>
            </tr>
        </tbody>
    </table>
    <a href="/warehouse">Back to the main</a>
</body>
</html>