@model System.Collections.Generic.List<Cars.Models.LicencePlate>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>River Plate</title>
    <meta charset="utf-8" />
</head>
<body>
    <form action="/search" method="get">
        <input type="text" name="q" value="" />
        <button type="submit">Filter</button>
        <a href="search?police=1">Police Only</a>
        <a href="search?diplomat=1">Diplomat Only</a>
    </form>
    <table>
        <tr>
            <td>Plate</td>
            <td>Brand</td>
            <td>Model</td>
            <td>Color</td>
            <td>Year</td>
        </tr>
        @foreach (var plate in @Model)
        {
            <tr>
                <td>@plate.Plate</td>
                <td>
                    <a href="/search/@plate.Brand">@plate.Brand</a>
                </td>
                <td>@plate.Model</td>
                <td>@plate.Color</td>
                <td>@plate.Year</td>
            </tr>
        }
    </table>
    </body>
</html>
