@model List<DogSheetWA.Models.Sheet>

<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>DogSheet</title>
</head>
<body style="margin: 30px">
    <h1 class="text-center">Results</h1>
    <br />
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Handler</th>
                <th scope="col">Dog</th>
                <th scope="col">Specialization</th>
                <th scope="col">Level</th>
                <th scope="col">Score</th>
                @*<th scope="col">Delete</th>*@
                <th scope="col">Remove</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Model.IndexOf(item)</th>
                    <td>@item.Handler</td>
                    <td>@item.Dog</td>
                    <td>@item.Specialization</td>
                    <td>@item.Level</td>
                    @if (item.Score > 69)
                    {
                        <td style="color:darkgoldenrod">@item.Score</td>
                    }
                    else
                    {
                        <td>@item.Score</td>
                    }
                    @*<td><a href="/@item.Id/delete/"><span class="glyphicon glyphicon-trash"></span></a></td>*@
                    <td><a href="/@item.Id/delete/" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></a></td>
                    <td><a href="/@item.Id/edit/" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span></a></td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <p><a href="/add" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus-sign"> Add</span></a></p>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
